.button-base {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;

  transition: background-color 300ms;
}

.md-icon {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
}