/*
TODO:
maximise material design styling
- edit/clean/replace elements?
- pixel perfect margin/sizes
- animations? transitions? make use of vue anim

cleanup
- optimise styles
- remove obsolete/unused
- combine/atomise?

fix
- focus button style
- overlapping?
- duplicate?
- make active player clearer?

*/

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6,menu{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/* global ------------------------------------------------------------------- */

body {
  /* foundation fontstack */
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background: url(grid.svg) 0/32px;
  padding-top: 32px;
}

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.1;
}

h1 { font-size: 3.56rem }

h2 { font-size: 2.92rem }

h3 { font-size: 2.28rem }

h4 { font-size: 1.64rem }

h5 { font-size: 1rem }

.good-text {
  color: #4caf50;
}

.alert-text {
  color: #f9a825;
}

.error-text {
  color: #c62828;
}

.text-btn {
  background: none;
  border: none;
  font-size: 1em;
  padding: 0 8px;
  color: inherit;
  cursor: pointer;
}

.text-btn:hover {
  color: #81d4fa;
  transition: color 200ms;
}

.material-icons {
  font-size: 1.4em;
  vertical-align: middle;
}

.centre-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.frame {
  padding: 8px;
}

.frame-thick {
  padding: 16px;
}

.shadow-light {
  box-shadow:  0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* core layout -------------------------------------------------------------- */

.container {
  width: 1024px;
  margin: auto;
  height: 768px;
  background-color: #2a5a30;
  border: #860707;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}


.blackjack-table {
  flex: 1;
  background: url(table-print.svg) center/contain no-repeat;
  overflow: hidden;
}

.ctrl-bar {
  height: 128px;
  background-color: #333;
  display: flex;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
}

.deck {
  position: absolute;
  top: 5%;
  left: 70%;
}

.announcement {
  width: 512px;
}

.message {
  transition: transform 0.3s ease-in-out, color 1s ease-out;
  transform-origin: top left;
}

.message:first-of-type {
  color: #f9a825;
}

.messages-enter {
  transform: translateY(-100%);
  transition-delay: 0.3s;
  opacity: 0;
}

.messages-leave-to {
  opacity: 0;
  transition: opacity 5s, transform 0.5s ease-out;
}

/* options form ------------------------------------------------------------- */

.modal-container {
  color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 32px;
  background-color: rgba(0,0,0,.2);
}

.modal {
  position: relative;
  flex: 0 1 512px;
  background-color: #fafafa;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #0288d1;
  color: #fafafa;
}

.modal-toggle {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 2.28rem;  /* h3 */
}

.modal-footer {
  text-align: right;
}

.options-group {
  border: none;
  margin: 8px 0;
}

.input-group {
  display: flex;
  float: left;
  flex-direction: column-reverse;
  width: 50%;
}

.input-group label {
  font-size: 0.7em;
  color: #666;
}


.input-group input {
  border-width: 0 0 2px;
  height: 24px;
  font-size: 1em;
  background: none;

}

.input-group input:focus {
  border-color: #81d4fa;
  outline: none;
  transition: color 200ms;
}

.input-group input:focus + label {
  color: #81d4fa;
  transition: color 200ms;
}


/* ctrl frame-------------------------------------------------------------- */

.player-info {
  flex: 1;
  text-align: right;
}

.ctrl-menu {
  flex: 2;
}

.ctrl-btn {
  border: none;
  background-color: #212121;
  margin-left: 1px;
  padding: 8px;
  width: 12%;
  height: 100%;
  color: inherit;
  transition: background 300ms;
  cursor: pointer;
}

.ctrl-btn:first-of-type {
  border-radius: 2px 0 0 2px;
}
.ctrl-btn:last-of-type {
  border-radius: 0 2px 2px 0;
}

.ctrl-btn:hover {
  background-color: #5b5b5b;
}

.ctrl-btn-label {
  min-height: 1em;
}

.btn-alert {
  background-color: #f9a825;
  color: #e65100;
}
.btn-alert:hover {
  background-color: #fdd835;
}

.btn-good {
  background-color: #4caf50;
}
.btn-good:hover {
  background-color: #2e7d32;
}
.ctrl-btn:disabled, .ctrl-btn:disabled:hover {
  background-color: #4c4c4c;
  color: #828282;
}

.ctrl-btn-icon {
  display: block;
  margin: auto;
  height: 1.5em;
  font-size: 32px;
  line-height: 1.5;
  /* text settings for mtl icons */
}

/* player frame-------------------------------------------------------------- */

.player-frame {
  position: absolute;
  width: 20%;
  height: 208px;
  display: flex;
  flex-direction: column;
}

.player-frame-title {
  background-color: #254a2a;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  transition: border-color 400ms;
  border-bottom: solid 2px #254a2a;
  border-radius: 2px 2px 0 0;
}

.player-frame-title.is-active {
  border-bottom-color: #f9a825;
}

.player-name {
  display: inline-block;
}

.player-money {
  display: inline-block;
}

.player-money span {
    position: absolute;
    top: 0;
}

@keyframes fade-up {
  to {
    transform: translateY(-150%);
    opacity: 0;
  }
}

.diff-float {
  animation: fade-up 2s forwards;
}


.player-0 { top: 23%; left: 1%; }
.player-1 { top: 49%; left: 15%; }
.player-2 { top: 55%; left: 40%; }
.player-3 { top: 49%; left: 65%; }
.player-4 { top: 23%; left: 79%; }
/*dealer*/
.player-5 { top: 7%; left: 42%; }

/* player-hand -------------------------------------------------------------- */

.ctrl-box {
  height: 50%;
}


.player-hand {
  padding: 8px 36px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hand-score {
  position: absolute;
  min-width: 2em;
  height: 2em;
  text-align: center;
  left: -32px;
  line-height: 2em;
  background: #212121;
  border-radius: 1em;
  font-size: 0.7em;
  z-index: 10;
  padding: 0 6px;
  white-space: nowrap;
  top: 24px;
}



.round-alert {
  position: absolute;
  z-index: 20;
  text-transform: capitalize;
  font-weight: bold;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 2em;
  text-shadow: 0 0 10px #000;
  transform-origin: center;
  animation: pop 500ms backwards;
}

@keyframes pop {
  from { transform: translateY(-8px) scale(0.3) }
  60% { transform: scale(1.5) }
  to { transform: none; }
}

/* player-bet --------------------------------------------------------------- */

.player-bet {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 24px;
}


.chip-stack {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding-bottom: 16px;
  z-index: 5;
  transform: translate(150px, 32px);
  opacity: 0;
  transition: transform 300ms ease-in, opacity 300ms 500ms;
}

.chip-stack.show {
  transform: none;
  opacity: 1;
  transition: none;
}

.chip-stack li {
  transition:  transform 150ms ease-in;
  width: 32px;
  height: 8px;
}

.chip-5 .token { filter: url(#red) }
.chip-10 .token { filter: url(#blue) }
.chip-25 .token { filter: url(#green) }
.chip-100 .token { filter: url(#black) }
.chip-500 .token { filter: url(#pink) }
.chip-1000 .token { filter: url(#yellow) }
.betting-chip:disabled .token { filter: url(#grey) }

/* cards -------------------------------------------------------------------- */

.player-cards {
  height: 50%;
  position: relative;
  opacity: 0.5;
  filter: grayscale(0.5);
  transition: 300ms;
}

.active-hand {
  opacity: 1;
  filter: none;
}

.card-outer {
  position: absolute;
  transition: transform 600ms ease-out;
}
.card-outer:not(.blank) {
  z-index: 5;
}

.card {
  width: 50px;
  height: 70px;
  background: white;
  margin-right: -20px;
  border-radius: 3px;
  padding: 2px;
  overflow: hidden;
  position: relative;
  font-weight: bold;
}

.card.stacked {
  box-shadow: 0 3px 0 0 #984b4b, 2px 6px 6px 3px #09210c;
}

.card.blank {
  background: url(card-back.svg) center/cover , #c97272;
}

.hearts .card, .diamonds .card {
  color:red;
}
.card.clubs, .card.spades {
  color: black;
}

@keyframes flip {
  from { background-image: url(card-back.svg); }
  50% {
    background-image: url(card-back.svg);
    transform: rotateY(90deg);
  }
  51%, to {
    background-image: none;
  }
}
@keyframes reveal {
  from, 50% { opacity: 0 }
  to, 51% { opacity: 1 }
}

.card:not(.blank) {
  animation: flip .3s both;
}

.card:not(.blank)::after, .card:not(.blank) span {
  animation: reveal .3s both;
}

.card:not(.blank)::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom:-5px;
  height: 50px;
  width: 50px;
  background: url(card.min.svg) 0/200%;

}

.card.hearts::after {
  background-position: top left;
}
.card.diamonds::after {
  background-position: bottom left;
}
.card.clubs::after {
  background-position: top right;
}
.card.spades::after {
  background-position: bottom right;
}
