/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6,menu{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/* global ------------------------------------------------------------------- */

body {
  /* foundation fontstack */
  font: 400 16px/1.45 "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background: url(grid.svg) 0/32px;

  padding-top: 32px;
}

.debugger {
  position: absolute;
  top:0;
  lefT:0;
}

/*body::after {
  content:"";
  background: url(grid.svg) 0/32px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity: .1;
  pointer-events: none;
}*/

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1 { font-size: 3.998em }

h2 { font-size: 2.827em }

h3 { font-size: 1.999em }

h4 { font-size: 1.414em }

.good-text {
  color: #1b5e20;
}

.alert-text {
  color: #f9a825;
}

.error-text {
  color: #c62828;
}

.btn {
  background: none;
  border: none;
  font-size: 1em;
  padding: 0 8px;
  color: inherit;
}

.material-icons {
  font-size: 1.4em;
  vertical-align: middle;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  padding: 8px;
}

/* core layout -------------------------------------------------------------- */

.container {
  width: 1024px;
  margin: auto;
  height: 768px;
  background-color: #2a5a30;
  border: #860707;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}


.blackjack-table {
  flex: 1;
  background: url(table-print.svg) center/contain no-repeat;
}

.ctrl-bar {
  height: 128px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
}

/*.blackjack-inner {
  width:100%;
  max-width: 1024px;
  position: relative;
  padding-bottom: 66.6%;
}*/

.deck {
    position: absolute;
    top: 10%;
    left: 70%;
}


/* ctrl frame-------------------------------------------------------------- */

.player-info {
  flex: 1;
}

.ctrl-menu {
  flex: 2;
  display: flex;
  background-color: #111;
}

.ctrl-btn {
  border: none;
  background-color: #212121;
  margin-left: 1px;
  padding: 8px;
  width: 12%;
  height: 100%;
  color: inherit;
  transition: background 300ms;
  cursor: pointer;
}

.ctrl-btn:hover {
  background-color: #424242;
}

.btn-alert {
  background-color: #f9a825;
  color: #e65100;
}
.btn-alert:hover {
  background-color: #fdd835;
}
.btn-good {
  background-color: f;
}
.btn-good:hover {
  background-color: #2e7d32;
}
.ctrl-btn:disabled, .ctrl-btn:disabled:hover {
  background-color: #111;
  color: #484848;
}

.ctrl-btn-icon {
  display: block;
  margin: auto;
  height: 60%;
}

.ctrl-btn-label {

}

.chip-stack {
  display: flex;
  align-items: center;
  flex-flow: wrap column-reverse;
  padding-bottom: 30%;
}

.chip-stack li {
  width: 40%;
  margin-bottom: -35%;
}

.chip-5 .token { filter: url(#red) }
.chip-10 .token { filter: url(#blue) }
.chip-25 .token { filter: url(#green) }
.chip-100 .token { filter: url(#black) }
.chip-500 .token { filter: url(#pink) }
.betting-chip:disabled .token { filter: url(#grey) }

/* player frame-------------------------------------------------------------- */

.player-frame {
    width: 20%;
    position: absolute;
    padding-bottom: 20%;
}

.player-frame-title {
  background-color: #254a2a;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.player-name {
    display: inline-block;
}

.player-name.active {
  color: #f9a825;
}

.player-money {
  display: inline-block;
}

.player-money span {
    position: absolute;
    top: 0;
}

@keyframes fade-up {
  to {
    transform: translateY(-150%);
    opacity: 0;
  }
}

.diff-float {
  animation: fade-up 2s forwards;
}


.player-0 { top: 28%; left: 1%; }
.player-1 { top: 46%; left: 18%; }
.player-2 { top: 51%; left: 40%; }
.player-3 { top: 46%; left: 62%; }
.player-4 { top: 28%; left: 79%; }
/*dealer*/
.player-5 { top: 7%; left: 42%; }

.player-bet {
    position: absolute;
    left: -5%;
    top: 0;
}

/* player-hand -------------------------------------------------------------- */

.ctrl-box {
  height: 50%;
}

.hand-cards {
  position: relative;
}

.card-outer {
  position: absolute;
}

.card {
  width: 50px;
  height: 70px;
  background: white;
  margin-right: -20px;
  border-radius: 3px;
  padding: 2px;
  overflow: hidden;
  position: relative;
  font-weight: bold;
  box-shadow: 0 2px 10px -4px #000;
}

.card.stacked {
    box-shadow: -1px 3px 0 0px #984b4b;
}

.card.blank {
  background: url(card-back.svg) center/cover , #c97272;
}

.card.hearts, .card.diamonds {
  color:red;
}
.card.clubs, .card.spades {
  color: black;
}
.card.hearts, .card.diamonds, .card.clubs, .card.spades {
  z-index: 5;
}


@keyframes flip {
  from { background-image: url(card-back.svg); }
  50% {
    background-image: url(card-back.svg);
    transform: translate(100%) rotateY(90deg);
  }
  51%, to {
    background-image: none;
  }
}
@keyframes reveal {
  from, 50% { opacity: 0 }
  to, 51% { opacity: 1 }
}

/*.card.draw {
  transition-duration: 400ms;
}*/

.card:not(.blank) {
  animation: flip .3s both;
}

.card:not(.blank)::after, .card:not(.blank) span {
  animation: reveal .3s both;
}

.card:not(.blank)::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom:-5px;
  height: 50px;
  width: 50px;
  background: url(card.min.svg) 0/200%;

}

.card.hearts::after {
  background-position: top left;
}
.card.diamonds::after {
  background-position: bottom left;
}
.card.clubs::after {
  background-position: top right;
}
.card.spades::after {
  background-position: bottom right;
}

/* options form ------------------------------------------------------------- */

.options-outer, .options-outer::before {
  color: #333;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.options-outer {
  z-index: 20;
  padding: 32px;
}

.options-outer::before {
  content: "";
  background-color: #000;
  opacity: 0.2;
}

.options-inner {
  position: relative;
  flex: 0 1 512px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
  position: absolute;
  right: 0;
  top: 8px;
}

.options-footer {
  text-align: right;
}

.options-group {
  border: none;
  margin: 8px -16px;
}

.options-form input {
  border-width: 0 0 2px;
  width: 128px;
  margin: 4px 16px;
  height: 24px;
  font-size: 1em;
}
.options-form label {
  margin-left: 16px;
}

.options-title {
  padding: 0 16px;
}
