<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>VueJS BlackJack Testing</title>

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet" media="all">


</head>


<!--

TO DO LIST:

- split event emits (message, bet, hand); (i think mixed ones are clashing)
- fix end round. some controls for Next round/New game
- end round results (winners, losers)
- clean/tidy anything?

-->


  <body  >
    <div id="v-blackJack" class="container">

      <button class="btn menu-toggle material-icons" @click="showOptions = true" >
        menu
      </button>

      <options-modal v-if="showOptions" @hide="showOptions = false" >
      </options-modal>

      <main class="blackjack-table" >

        <transition-group class="announcement frame" name="messages" tag="ul" >
          <li class="message" v-for="msg in messages" :key="msg.idx" >{{msg.text}}</li>
        </transition-group>

        <div v-once class="deck" ref="theShoe" >
          <div class="card blank stacked" ></div>
        </div>

        <player-frame
          v-for="player in players"
          :key="player.index"
          :player="player" >
        </player-frame>

      </main>

      <ctrl-frame :player="activePlayer" ></ctrl-frame>

      <svg-static v-once></svg-static>

    </div>
  </body>
   <script src="dist/bundle.js"></script>
</html>
